*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .EquipmentDetails{
    margin-top: 60px;
    padding: 20px;
  }
/* Equipment -Navbar -CSS */
.EquipmentNav{
    border-bottom: 1px solid rgba(82, 78, 78, 0.268);
    margin: auto;
    
    
}
p{
    margin-bottom: 0;
}
.EquipmentNavbar .Title h4{
    margin-bottom: 0;
}
.EquipmentNavbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    
}
.EquipmentNavbar .EquipmentPresenter p{
    margin-bottom: 0;
}
.EquipmentNavbar .EquipmentPresenter{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

/* @media screen and (max-width:838px){
    .SiteNavbar{
    width:480px;
    }
} */
.EquipmentName{
    border:0.1px solid rgba(82, 78, 78, 0.268) ;
    border-radius: 4px;
    margin: 10px auto auto;
    padding: 20px;
   
}
.EquipmentName .EquipmentAllDetail{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.EquipmentName .EquipmentAllDetail .div{
    display: flex;
    gap: 30px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}
.EquipmentName .EquipmentAllDetail .NameofEquipment{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
 
.EquipmentName .EquipmentAllDetail span{
    font-weight: 600;
    font-size: 15px;
     /* width: auto; */
     width: 100px;
     text-align: right;
}
.EquipmentName .EquipmentAllDetail p{
    font-size: 13px;
     
}
.EquipmentName .EquipmentAllDetail .RentalRate{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
 
 
.EquipmentName .EquipmentAllDetail .image img{
    border: 1px solid rgba(82, 78, 78, 0.268) ;
    border-radius: 5px;
    width: 300px ;
    height: 200px;
    background-color:rgba(82, 78, 78, 0.268) ;
    object-fit: cover;
     overflow: hidden;
     margin-bottom: 10px;
}

/* third Components */
.BorrowingRequest{
    border:0.1px solid rgba(82, 78, 78, 0.268) ;
    border-radius: 4px;
    margin: 10px auto auto;
    padding: 20px;
}
.BorrowingRequest h5{
    margin-bottom: 10px;
}
 .BorrowingRequest .Datecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    flex-wrap: wrap;
 }
 .Datecontainer .input-contain{
    padding:5px 15px;
    cursor: pointer;
 }
 .Submitbutton{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .Submitbutton .button{
    padding: 5px 20px;
    background-color:rgba(60, 57, 57, 0.748) ;
    border: none;
    color: white;
    border-radius: 4px;
 }