*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Elogs{
    margin-top: 60px;
    padding: 20px;
  }
/* Elogs -Navbar -CSS */
.ElogsNav{
    border-bottom: 1px solid rgba(82, 78, 78, 0.268);
    margin: auto;
    padding-bottom: 8px;
    
}
p{
    margin-bottom: 0;
}
.ElogsNavbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    
}

.ElogsNavbar .ElogsPresenter{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

/* @media screen and (max-width:838px){
    .SiteNavbar{
    width:480px;
    }
} */

/* Secon Components */
.SelectElogs{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
}
.SelectElogs .Title{
    display: flex;
    align-items: center;
     gap: 10px;
     flex-wrap: wrap;
}
.SelectElogs  #combo-box-demo{
    width: 200px;
}
.SelectElogs .SelectElog .Title .Dropdown{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    
}
.SelectElog .DateContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.SelectElog .DateContainer .input-contain{
    border:0.1px solid rgba(82, 78, 78, 0.268) ;
    border-radius: 4px;
    padding: 10px 15px;
    
}
.SelectElog .DateContainer button{
    padding: 10px 15px;
    background-color:rgba(38, 36, 36, 0.729) ;
    color: white;
    border: none;
    border-radius: 4px;
}

.ElogDetails{
    border:0.1px solid rgba(82, 78, 78, 0.268) ;
    border-radius: 4px;
    margin: 10px auto auto;
    padding: 20px;
   
}
.ElogDetails .Elogcontainer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ElogDetails .Elogcontainer .div{
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}
.ElogDetails .Elogcontainer .div .file{
    width: 50px ;
    height: 50px;
    border:1px solid rgba(82, 78, 78, 0.268) ;
    border-radius: 4px;
    display:flex;
   align-items: center;
   justify-content: center;
}
.ElogDetails .Elogcontainer span{
    font-weight: 600;
    font-size: 15px;
     /* width: auto; */
     width: 150px;
     text-align: right;
}
.ElogDetails .Elogcontainer p{
    font-size: 13px;
     
}
 
.ElogDetails .Elogcontainer .img{
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
}
.ElogDetails .Elogcontainer .img img{
    width: 50px ;
    height: 50px;
    border: 1px solid rgba(82, 78, 78, 0.268) ;
    border-radius: 5px;
    object-fit: cover;
     overflow: hidden;
}
.ElogDetails .Elogcontainer .Report{
    border-bottom:1px solid rgba(82, 78, 78, 0.268) ;
}